html,body{
	margin: 0px;
	height: 100%;
	width: 100%;
	background-image: url(bg11.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#header{
	width: 25%;
	background-color: #ffffff;
	margin-left: calc(75%/2);
	font-family: script mt bold;
	font-size: 40px;
	border-radius: 15px;
}

#main{
	padding-top: 10px;
	width: 50%;
	background-color: #ffffff;
	margin-left: 25%;
	font-family: century gothic;
	font-size: 15px;
	border-radius: 65px;
}

#submit{
	border-color: #ADFF2F;
	background-color: #ADFF2F;
}