*
{
	margin:0;
	padding:0;

}
body
{
     background:url(pictures/IMG-20190214-WA0016.jpg)repeat;
}
.main-nav
{
	
	list-style: none;
	margin-top: 0;
	padding:0;
	overflow:hidden;
}
.main-nav li
{
	float:right;


}
.main-nav li a
{
	display:inline-block;
	color: white;
	text-decoration:initial;
	padding: 5px  20px;
	font-family: "roboto",san-serrif;
    font-size: 15px;
}
.main-nav li.active a
{
	border:1px solid white;
}
.main-nav li a:hover
{
	border:1px solid white;
}
.logo image
{
	width: 50px;
	height: 50px;
	float: left;
}
body
{
	font-family: monospace;
}
.row
{
	max-width: 1200px;
	margin:auto;
}
.shopping
{
	position: absolute;
	width: 1000px;
	margin-left: 0;
	margin-top: 0;

}
h1
{
	color:white;
	text-transform: uppercase;
	font-size:20;
	text-align: center;
	margin-top: 50px;
}
h2
{
	color:white;
	text-transform: unset;
	font-size: 15;
	text-align: center;
	font-style: italic;
}
{box-sizing: border-box;}
body {
	font-family: Cordia New;
	font-size: 20px;
	margin-left: 100px;
	margin-right: 100px;
		}
		mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  margin-top: 160px;
}

/* Caption text */
.text {
  color: white;
  font-family: Comic Sans MS;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.footer
{
	position: absolute;
	widht: 1000px;
	margin-left: 500px;
	margin-top: 100px;
}


