html,body{
	margin: 0px;
	height: 100%;
	width: 100%;
}

#search{
	display: inline;
}

#title{
	font-family: satisfy;
}


#header{
	margin-top: 0px;
	/*background-color: #0000ff;*/
	height: 10%;
	
}

#main{
	background-color: #ff0000;
	height: 80%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;

}

#footer{
	background-color: #111;
	height: 90%;
	margin-top:0px;
	padding-top: 20px;
	text-align: center;
	margin-left: 30%;
	margin-right: 10%;
	padding-bottom: 0px;
	margin-bottom: 0px;

}

#bodyleft{
	width: 20%;
	/*background-color: #aabbcc;*/
	float: left;
	/*height: 100%;*/
	/*padding-top: 90%;*/
	margin-left: 10%;
}

#bodycenter{
	margin-left: 30%;
	background-color: #78bacd;
	height: 800px;
	/*position: fixed;*/
	/*padding-top: 90%;*/
	margin-right: 10%;
	margin-top: 0px;
}


/*#bodyright{
	background-color: #90fcbe;
	float: right;
	/*padding-top: 90%;*/
	/*margin-right: 10%;
	top: 100px;
	height: 100px;
    width: 5%;
    padding-right: 10px;
    display: block;*/
  /*top: 0;
  left: 0;*/
  /*height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;*/
  /*top: 0;
  left: 0;*/
  /*top: 60px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
*/
}




/* Style the sidenav links and the dropdown button */
 
  /*text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  }
*/





/*img{
	margin-top: 0px;
	float: left;
	position: relative;
}

#title{
	text-align: center;
	height: 25px;
	display: inline;
	padding-top: 0px;
	margin-top: 0px;
}

#frst {
	width: 10%;
	float: left;
	background-color: #00ff00;
}
#lst {
	width: 90%;
	float: right;
	text-align: center;
	background-color: #ff0000;
}

#title{
	padding-top: 50px;
}
/**/