input[type=text], input[type=password] {
padding: 10px 15px;
margin: 5px;
border: 1.5px solid dodgerblue;
display: inline-block;
box-sizing: border-box;	
}

button {
	background-color: #DCDCDC;
	color: black;
	padding: 12px 18px;
	margin: 5px;
	cursor: pointer;
}

button:hover {
	opacity:0.6;
}

.cancelbtn {
	width:auto;
	padding: 8px 15px;
	background-color: #F08080;
}

.imgcontainer {
	margin: 20px 0 10px 0;
}

img.avatar{
	width: 40%;
	border-radius: 50%;
}

@media screen and (max-width: 300px){
	span.psw{
		display:block;
		float: none;
	}

	.cancelbtn {
		width:100%;
	}

.container
{
	padding: 8px;
}
}