.body
{
  font-size:20px;
  font-family:cursive;
  border-top-right-radius:32px;
  border-top-left-radius:32px;
  padding: 12px 12px 12px 12px;
  background-color:#E6E6FA;
  color:black;
}

.contacts
{
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  font-family: Century Gothic;
  padding-top: 30px;
  background-color: #f8f9fa;
  border-style: dashed;

}

.Image
{
  float: left;
  display:block;
}

.Pagetitle
{
  color: black;
  font-size: 20px;
  background-color:#F0F8FF;
  text-align:center;
  display: block;
  padding:25px 20px;
}



.ahref:hover
{
  color:black;
  background-color: #f8f9fa;
  border-radius: 50px 20px 50px 20px;
  width:60px;

}

.ahref:active
{
  color: black;
  background-color: #f8f9fa;
  border: #f8f9fa;
  border-radius: 50px 20px;
}

.floatleft
{
  float:left;
}

.floatjustify
{
  float:justify;
}

.floatright
{
  float:right;
}

.column
{
  float:left;
  width:33.33%;
  padding:5px;
}

.row::after
{
  content:"";
  clear:both;
  display: table;
}

.b1
{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    float:left;
    padding-left:15px 32px;
    margin: 4px 120px;
    cursor: pointer;
}

.b2
{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:left;
    padding-left:15px 32px;
    margin: 4px 120px;
    cursor: pointer;
}

.b3
{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:left;
    padding-left:15px 32px;
    margin: 4px 120px;
    cursor: pointer;
}

.b4
{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float:left;
  padding-left:15px 32px;
  margin: 4px 120px;
}

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  
 .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;